.rightPanel {
    font-family: 'Nunito', sans-serif;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 50%;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #231815;
    
}

p.author {
    font-size: 18px;
    line-height: 25px;
}

.rightContent{
    text-align: right;
    margin-top: auto;
    margin-bottom: auto;

}

